/* CSS written by Sunnie Wykert */

/* GLOBAL STYLES (MOBILE FIRST) */
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 1rem;
  padding: 1rem;
  background-color: #F7F5FF;
  min-width: 784px;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 1rem;
  border: 2px solid #A08DDE
}
header, nav, main, footer {
  grid-column: 1/3;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
nav a {
  text-decoration: none;
  background-color: #D3CDF9;
  padding: 1rem 2rem;
  color: #1D0C43;
  font-size: 1.5em;
  text-transform: uppercase; 
}
nav a:hover {
  background-color: #9D53B2;
  color: white;
}
nav {
  margin: .5rem;
  padding: .5rem;
}
main {
  margin: .5rem;
  padding: .5rem;
}
h1 {
  padding: .5rem;
  line-height: 1.5;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  line-height: 1.5;
  letter-spacing: .5px;
}
h3 {
  line-height: 1.5;
  letter-spacing: .5px;
  font-style: italic;
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  letter-spacing: .5px;
  word-spacing: .10px;
  font-family: sans-serif;
}
a {
  font-family: sans-serif;
  letter-spacing: .5px;
}
ul {
  margin: .5rem;
  padding: .5rem;
  margin-left: 1rem;
  margin-right: 40px;
  font-family: sans-serif;
  letter-spacing: .5px;
}
ol {
  margin: .5rem;
  padding: .5rem;
  margin-left: 1rem;
  margin-right: 40px;
  margin-bottom: 1.5rem;
  font-family: sans-serif;
  line-height: 1.5;
  letter-spacing: .5px;
}
header, footer {
  margin:.5rem;
  padding: .5rem;
  background-color: #A08DDE;
  color: white;
  border: 2px solid #1D0C43
}
.card-row {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #D3CDF9;
  padding: 1rem;
}
.card-row > section {
  flex: 1 1 260px;
  background-color: #F7F5FF;
  padding: .5rem;
  border: 1.5px solid #1D0C43
}
.card-row h3, .card-row p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}
main a, footer a {
  text-decoration: none;
  background-color: #D3CDF9;
  color: #1D0C43;
  padding: 1rem 2rem;
}
main a:hover, footer a:hover {
  background-color: #9D53B2;
  color: white;
}
footer p {
  margin-bottom: 2rem;
  padding: .5rem;
}
footer a {
  display: inline-block;
  margin-bottom: .5rem;
  margin-left: .5rem;
}